#!/usr/bin/env bash

set -e -o pipefail

go mod download
go mod verify

if [[ -z "${VERSION}" ]]; then
	goreleaser --snapshot --skip-publish --rm-dist
else
	goreleaser
fi

rm -rf "$(pwd)/{{ .Name }}"

os=$(uname | tr '[:upper:]' '[:lower:]')
arch="$(uname -m)"
if [[ "$arch" == "x86_64" ]]; then
	ln -s "$(pwd)/dist/{{ .Name }}_${os}_amd64/{{ .Name }}" "$(pwd)/{{ .Name }}"
elif [[ "$arch" == "aarch64" ]]; then
	ln -s "$(pwd)/dist/{{ .Name }}_${os}_arm64/{{ .Name }}" "$(pwd)/{{ .Name }}"
fi
